# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.tsapp/api/admin
app/api/auth
app/api/bug-report
app/api/livekit
app/api/stripe
app/api/support-ticket
app/api/support
app/api/upgrade-request
app/api/webhooks
app/api/workspaces
app/auth.css
app/auth
app/invite
app/landing.css
app/login
app/logo-showcase
app/office
app/pricing
app/register
app/set-password
app/signup
app/superadmin
